<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/alina_944/IdeaProjects/Dave.com">
        <classes>
            <class name="test.testJob">
                <methods>
                    <include name="validateJob"/>
                    <include name="negativeTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>